# 
# $Id: check_bam.cfg 169 2017-06-29 05:38:30Z aokada $
# $Rev: 169 $
# 

[JOB_CONTROL]
# 同時に実行する最大ジョブ数
max_once_jobs    = 100

# ジョブ投入間隔(mces)
interval         = 100

# drmaaセッションの最大待ち時間 (0の場合は 'TIMEOUT_WAIT_FOREVER')
wait_time        = 0

# ジョブ失敗時の最大リトライ回数
retry_max        = 5

# qsub option
qsub_option      = -l s_vmem=1G,mem_req=1G

[TOOLS]
# samtoolsのパス
samtools    = "samtools"

[METADATA]
# 使用するbamの選定に使用する
analyte_type          = DNA
experimental_strategy = WXS,exome
platform              = Illumina
isffpe                = False

[CHECKBAM]
# OKとする最小リード数
read_total = 2000000

# OKとする最大シングルリード比 (singleリード数/totalリード数)
single_rate = 0.2
